.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

.active {
  color: cadetblue;
}

html, body, #root, .App, .home {
  width: 100%;
  height: 100%;
}

footer {
  width: 100%;
  height: 40px;
  border-top: 0.1rem solid cadetblue;
  display: flex;
  justify-content: space-between;
  padding: 0 1.5rem;
  align-items: center;
  position: fixed;
  left: 0;
  bottom: 0;
}

#loading {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.classify {
  height: 94%;
  overflow: hidden;
}

.classify header {
  display: flex;
  justify-content: space-between;
  padding: 0 1.5rem;
  align-items: center;
  height: 2.5rem;
}

.classify header span.active {
  color: red;
}

.classify main, .cart {
  height: 93%;
  overflow: hidden;
}

.classify main ul {
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
}

.classify main ul .item, .cart ul .item {
  width: 50%;
  text-align: center;
  position: relative;
}

.cart {
  height: 87% !important;
}

.cart ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto !important;
}

.cart ul .item {
  width: 100% !important;
  border-bottom: 1px solid #dddddd;
  margin-bottom: 1rem;
}

.classify main ul .item img, .cart .item img {
  width: 9rem;
  height: 8rem;
  margin-left: 2rem;
}

.classify main ul .item input, .cart .item input {
  width: 1rem;
  height: 1rem;
  position: absolute;
  left: 0;
  top: 4rem;
}

.detail {
  text-align: center;
  margin-top: 1rem;
}

.detail img {
  width: 90%;
  height: 15rem;
}

header {
  display: flex;
  height: 2rem;
  padding: 0 1rem;
  align-items: center;
}

header button, .addcar button {
  margin-right: 4rem;
  padding: 0.1rem;
}

.addcar button {
  margin: 5rem;
}

.itm {
  margin-top: 1rem;
  padding-left: 1rem;
}

.itm p span {
  border: 0.05rem #ddd solid;
  padding: 0.1rem;
}

.footer {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  z-index: 2;
  border-top: 1px solid #ccc;
  background-color: white;
}

.footer button {
  padding: 0.3rem;
  float: right;
  margin-top: 0.6rem;
}

.login {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0 auto;
}

.login ul {
  width: 90%;
  margin: 2rem auto;
}

.login ul.log {
  border-bottom: 1px solid #ddd;
}

.login ul li {
  height: 5rem;
  width: 100%;
}

.login ul li input {
  height: 2rem;
  width: 75%;
  text-indent: 1rem;
}

.login button {
  margin: 2rem 8rem;
  width: 6rem;
  height: 3rem;
}